<ion-view view-title="Login" id="login" class="login-bg">
    <ion-content class="scroll-content ionic-scroll">
        <div class="logo">
            <img src="img/img_runaway.png" class="runawaylogo" />
        </div>
        <div class="cus-list-inline row">
            <div class="col col-25 text-left"><a href="javascript:void();">Invita</a><i class="menu-icon-circle cus-icon-f"></i></div>
            <div class="col col-33 text-center list-sec-item"><a href="javascript:void();">Planifica</a><i class="menu-icon-circle cus-icon-s"></i></div>
            <div class=" col text-right"><a href="javascript:void();">Comparte</a></div>
        </div>
    </ion-content>
    <div class="login-footer">
        <div class="footer-joinup">      
            <div class = "row">
                <div class="col"><a class="button button-block btn-bg-color" ui-sref="signup"> ÚNETE </a></div>
            </div>	
        </div>
        <div class="footer-socialbtn">
            <div class="row">
                <div class="col"><button class="button button-block">Facebook</button></div>
                <div class="col"><button class="button button-block">Twitter</button></div>
            </div>
            <p class="text-center footer-text"> ¿Ya tienes una cuenta?, <a ui-sref="login">ingresa aquí</a> </p>
        </div>
    </div>

</ion-view>