<ion-view view-title="List" class="bg-tran sliderheader">
		
		<ion-content class="list-screen">
		<div class="cus-header">
			<div class="bg-tran slider-search">
				<div class="search searchlayer">
					<div class="row">
						<div class="col-80">
							<label class="item bg-tran item-input">
							  <i class="icon placeholder-icon"><img class="cus-serachicon" src="img/ic_searchgrey.png"/></i>
							  <input type="search" placeholder="Buscador de viajes" class="search-input">
							</label>
						</div>
						<div class="col-20 search-button text-center">
							<button type="submit" class="button-clear"><img src="img/ic_worldstroke.png"/></button>
						</div>
					</div>
				</div>
				<div class="search-content">
					<p class="guide">Hola Alejandra Bogas.</p>
					<div class="row">
						<div class="col-90">
							<h3 class="">“El mundo es un libro y aquellos que no viajan solo leen una página”</h3>
						</div>
					</div>
					<p class="search-content-author">San Agustín</p>
					<p class="mrgtop65">Los lugares más populares</p>
				</div>
			</div>
		</div>	
		</ion-content>
		<div class="tabs-striped tabs-color-light tab-screen">
		<div class="tabs cus-tab">
		   <a class="tab-item">
				<img src="img/ic_tentred.png" />
		   </a>
		   <a class="tab-item">
				<img src="img/ic_mytripsgrey.png" />
		   </a>
		   <a class="tab-item tab-item-btn">
			<button class="btn-plus-ws">
				<img src="img/tabicon3.png" />
			</button>
		   </a>
		   <a class="tab-item">
				<i class="red-cirlce-tab"></i>
				<img src="img/ic_bellgrey.png" />
		   </a>			
		   <a class="tab-item">
				<img src="img/ic_profilegrey.png" />
		   </a>
		</div>
		</div>
	
	
</ion-view>