<ion-view view-title="Dashboard" class="bg-tran sliderheader">

    <div ng-if="showIntro">
        <ng-include src="'templates/auth/welcomescreen.html'"></ng-include>
    </div>
	<ion-content class="list-screen sliderheader">
		<div class="cus-header">
			<div class="bg-tran slider-search">
				<div class="search searchlayer">
					<div class="row">
						<div class="col-80">
							<label class="item bg-tran item-input">
							  <i class="icon placeholder-icon"><img class="cus-serachicon" src="img/ic_searchgrey.png"/></i>
							  <input type="search" placeholder="Buscador de viajes" class="search-input">
							</label>
						</div>
						<div class="col-20 search-button text-center">
							<button type="submit" class="button-clear"><img src="img/ic_worldstroke.png"/></button>
						</div>
					</div>
				</div>
				<div class="search-content">
					<p class="guide">Hola Alejandra Bogas.</p>
					<div class="row">
                                            <div class="col-90">
                                                <h3 class="">“El mundo es un libro y aquellos que no viajan solo leen una página”</h3>
                                            </div>
					</div>
					<p class="search-content-author">San Agustín</p>
					<p class="mrgtop65">Viajes abiertos de tus amigos</p>
				</div>
			</div>
		</div>	
            
            <ion-scroll direction="x" class="con-scroll-x" has-bouncing="true">
                <div class="scroll-div">
                    <div class="scroll-div-item">
                        <img src="list-img/1.jpg" />
                        <div class="scroll-item-caption">
                            <div class="caption-rect">
                                <img src="img/ic_hiker.png" />
                                <span>13 / 15</span>                            
                            </div>
                            <div class="scroll-caption-text">
                                <p>Viaje a:</p>
                                <h3>Cambridgeshire</h3>
                            </div>
                            <div class="scroll-caption-date">
                                <span>25/12/16</span> <img src="img/ic_date.png" /> <span>25/12/16</span>
                            </div>
                            <div class="scroll-cap-user-pics">
                                <img src="img/list_user1.png" />
                            </div>
                        </div>
                    </div>
                    <div class="scroll-div-item">
                        <img src="list-img/3.jpg" />
                        <div class="scroll-item-caption">
                            <div class="caption-rect">
                                <img src="img/ic_hiker.png" />
                                <span>130 / 150</span>                            
                            </div>
                            <div class="scroll-caption-text">
                                <p>Viaje a:</p>
                                <h3>Mérida</h3>
                            </div>
                            <div class="scroll-caption-date">
                                <span>25/12/16</span> <img src="img/ic_date.png" /> <span>25/12/16</span>
                            </div>
                            <div class="scroll-cap-user-pics">
                                <img src="img/list_user2.png" />
                            </div>
                        </div>
                    </div>
                    <div class="scroll-div-item">
                        <img src="list-img/2.jpg" />
                        <div class="scroll-item-caption">
                            <div class="caption-rect">
                                <img src="img/ic_hiker.png" />
                                <span>13 / 15</span>                            
                            </div>
                            <div class="scroll-caption-text">
                                <p>Viaje a:</p>
                                <h3>Mérida</h3>
                            </div>
                            <div class="scroll-caption-date">
                                <span>25/12/16</span> <img src="img/ic_date.png" /> <span>25/12/16</span>
                            </div>
                            <div class="scroll-cap-user-pics">
                                <img src="img/list_user3.png" />
                            </div>
                        </div>
                    </div>
                    <div class="scroll-div-item">
                        <img src="list-img/4.jpg" />
                        <div class="scroll-item-caption">
                            <div class="caption-rect">
                                <img src="img/ic_hiker.png" />
                                <span>13 / 15</span>                            
                            </div>
                            <div class="scroll-caption-text">
                                <p>Viaje a:</p>
                                <h3>Cambridgeshire</h3>
                            </div>
                            <div class="scroll-caption-date">
                                <span>25/12/16</span> <img src="img/ic_date.png" /> <span>25/12/16</span>
                            </div>
                            <div class="scroll-cap-user-pics">
                                <img src="img/list_user1.png" />
                            </div>
                        </div>
                    </div>
                    <div class="scroll-div-item">
                        <img src="list-img/3.jpg" />
                        <div class="scroll-item-caption">
                            <div class="caption-rect">
                                <img src="img/ic_hiker.png" />
                                <span>13 / 15</span>                            
                            </div>
                            <div class="scroll-caption-text">
                                <p>Viaje a:</p>
                                <h3>Mérida</h3>
                            </div>
                            <div class="scroll-caption-date">
                                <span>25/12/16</span> <img src="img/ic_date.png" /> <span>25/12/16</span>
                            </div>
                            <div class="scroll-cap-user-pics">
                                <img src="img/list_user2.png" />
                            </div>
                        </div>
                    </div>
                    <div class="scroll-div-item">
                        <img src="list-img/1.jpg" />
                        <div class="scroll-item-caption">
                            <div class="caption-rect">
                                <img src="img/ic_hiker.png" />
                                <span>13 / 15</span>                            
                            </div>
                            <div class="scroll-caption-text">
                                <p>Viaje a:</p>
                                <h3>Cambridgeshire</h3>
                            </div>
                            <div class="scroll-caption-date">
                                <span>25/12/16</span> <img src="img/ic_date.png" /> <span>25/12/16</span>
                            </div>
                            <div class="scroll-cap-user-pics">
                                <img src="img/list_user3.png" />
                            </div>
                        </div>
                    </div>
                    <div class="scroll-div-item">
                        <img src="list-img/2.jpg" />
                        <div class="scroll-item-caption">
                            <div class="caption-rect">
                                <img src="img/ic_hiker.png" />
                                <span>13 / 15</span>                            
                            </div>
                            <div class="scroll-caption-text">
                                <p>Viaje a:</p>
                                <h3>Mérida</h3>
                            </div>
                            <div class="scroll-caption-date">
                                <span>25/12/16</span> <img src="img/ic_date.png" /> <span>25/12/16</span>
                            </div>
                            <div class="scroll-cap-user-pics">
                                <img src="img/list_user1.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </ion-scroll>
            <div class="hr30"> </div>
            <div class="friends-list">
                <h4 class="friends-list-title">Tus amigos están en...</h4>
                <div class="friends-list-item card">
                    <div class="row">
                        <div class="col col-75">
                            <div class="friends-list-img-large">
                                <img src="list-img/listfriend1.png" />
                            </div>
                        </div>
                        <div class="col col-25">
                            <div class="friends-list-img-small">
                                <img src="list-img/listfriend1.png" />
                            </div>
                            <div class="friends-list-img-small small-img-last">
                                 <div class="friends-img-more">
                                    <label>+10</label>
                                </div>
                                <img src="list-img/listfriend1.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	</ion-content>
</ion-view>