<ion-tabs class="tabs-icon-top tabs-color-active-positive list-tab-nav" ng-class="{ 'showIntro' : showIntro }">
    <ion-tab  title="tab-icon-1" icon-on="tab-icon-1" icon-off="tab-icon-1"  href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <ion-tab title="tab-icon-2" icon-off="tab-icon-2" icon-on="tab-icon-2" href="#/tab/chats">
        <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>

    <ion-tab class="tab-btn-bg-color" title="tab-icon-3" icon-off="tab-icon-3" icon-on="tab-icon-3" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="tab-icon-4" icon-off="tab-icon-4" icon-on="tab-icon-4" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="tab-icon-5" icon-off="tab-icon-5" icon-on="tab-icon-5" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
</ion-tabs>
