<ion-view view-title="Login" id="Login" class="login-bg">
    <ion-content class="scroll-content ionic-scroll">
        <div class="list">
            <div class="bg-tran joinup">
                <p class="text-left"><a ng-click="goBack()" class="close-model">X</a></p>
            </div>
            <div class="joinform card joincard">
                <label class="item item-input">
                    <i class="icon placeholder-icon"><img class="iconmail" src="img/ic_mailgrey.png"/></i>
                    <input type="text" placeholder="Correo electrónico *">
                </label>
                <div  class="item item-input cus-login-input">
                    <i class="icon placeholder-icon"><img src="img/ic_key.png"/></i>
                    <input type="password" placeholder="Contraseña *">
                    <a class="lost_password" name="lost_password"  ng-click="LostPasswordModal()" >RECUPERAR</a>
                </div >
            </div>
        </div>
    </ion-content>    
    <div class="login_footer">
        <div class="footer-joinup">      
            <div class = "row">
                <div class = "col"><button class="button button-block" ng-click="login()">VENGA YA, CREAR CUENTA</button></div>
            </div>
        </div>
    </div>
</ion-view>