<ion-view view-title="Login" id="Login" class="login-bg">
    <ion-content class="scroll-content ionic-scroll">
        <div class="list">
			<div class="bg-tran joinup">
				<p class="text-left"><a ng-click="closelostpasswordModal()" class="close-model">X</a></p>
			</div>
			<div class="joinform card joincard">
				<label class="item item-input">
					<i class="icon placeholder-icon"><img class="iconmail" src="img/ic_mailgrey.png"/></i>
					<input type="password" placeholder="Correo electrónico de la cuenta *">
				</label>
			</div>
          </div>
    </ion-content>    
		<div class="login_footer">
			<div class="footer-joinup">      
				<div class = "row">
					<div class = "col"><button class="button button-block">ENVIAR MI CONTRASEÑA</button></div>
				</div>
			</div>
		</div>
</ion-view>