<ion-view view-title="Join up" id="join up" class="login-bg">
    <ion-content class="scroll-content ionic-scroll">
        <div class="list">
            <div class="bg-tran joinup">
                <p class="text-left"><a ng-click="goBack()" class="close-model">X</a></p>
            </div>
            <div class="profilepics">
                <div class="row">
                    <div class="col text-center">
                        <img src="img/img_nominiavatar.png">
                        <button class="button button-small">foto de perfíl</button>
                    </div>
                    <div class="col text-center">
                        <img src="img/img_nominicover.png">
                        <button class="button button-small">subir portada</button>
                    </div>
                </div>
            </div>
            <div class="joinform card joincard">
                <label class="item item-input">
                    <i class="icon placeholder-icon"><img class="iconuser" src="img/ic_name.png"/></i>
                    <input type="text" placeholder="Nombre y Apellido *">
                </label>
                <label class="item item-input">
                    <i class="icon placeholder-icon"><img class="iconmail" src="img/ic_mailgrey.png"/></i>
                    <input type="text" placeholder="Correo electrónico *">
                </label>
                <label class="item item-input">
                    <i class="icon placeholder-icon"><img src="img/ic_key.png"/></i>
                    <input type="password" placeholder="Contraseña *">
                </label>
            </div>
            <div class="optionalinfo">
                <p>Información opcional</p>
            </div>
            <div class="joinform card joincard-sec">
                <label class="item item-input">
                    <i class="icon placeholder-icon"><img class="iconuser" src="img/ic_worldgrey.png"/></i>
                    <input type="text" placeholder="Nacionalidad">
                </label>
                <label class="item item-input">
                    <i class="icon placeholder-icon"><img class="iconmail" src="img/ic_cakestroke.png"/></i>
                    <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
                </label>
            </div>
            <div class="footer-joinup">      
                <div class = "row">
                    <div class = "col"><button class="button button-block" ng-click="signup()">VENGA YA, CREAR CUENTA</button></div>
                </div>
            </div>
            <p class="term-condi">Al darse de alta, admite aceptar los términos y condiciones</p>
        </div>
    </ion-content>    
</ion-view>