<ion-view view-title="welcome screen" class="bg-tran sliderheader">
    <div class="slidelayer"></div>
    <div class="cus-header">
        <div class="bg-tran slider-search">
            <div class="search searchlayer">
                <div class="row">
                    <div class="col-80">
                        <label class="item bg-tran item-input">
                            <i class="icon placeholder-icon"><img class="cus-serachicon" src="img/ic_searchgrey.png"/></i>
                            <input type="search" placeholder="Buscador de viajes" class="search-input">
                        </label>
                    </div>
                    <div class="col-20 search-button text-center">
                        <button type="submit" class="button-clear"><img src="img/ic_worldstroke.png"/></button>
                    </div>
                </div>
            </div>
            <div class="search-content">
                <p class="guide">Hola Alejandra Bogas.</p>
                <div class="row">
                    <div class="col-90">
                        <h3 class="">“El mundo es un libro y aquellos que no viajan solo leen una página”</h3>
                    </div>
                </div>
                <p class="search-content-author">San Agustín</p>
            </div>
        </div>
    </div>
    <div class="sec-slide">
        <ion-content class="slidemain">
            <ion-slide-box active-slide="index" on-slide-changed="slideChanged(index)" class="welsliders">
                <ion-slide class="welslide1 text-center">
                    <p>Comunidad: los viajes y lugares que suban tus amigos aparecerán aquí</p>
                    <button type="button" class="button welcomeslidebtn" ng-click="nextSlide()"> SALTAR</button>
                    <div class="hand-icon">
                        <img src="img/ic_handleft_2.png" />
                    </div>
                </ion-slide>
                <ion-slide class="welslide2 text-center">
                    <p>Mis Viajes: aquí se enlistan todos tus viajes en progreso y los culminados.</p>
                    <button type="button" class="button welcomeslidebtn" ng-click="nextSlide()"> SALTAR</button>
                    <div class="hand-icon2">
                        <img src="img/ic_handleft_2.png" />
                    </div>
                </ion-slide>
                <ion-slide class="welslide3 text-center">
                    <p>Publicar: crea un viaje nuevo  o publica dónde te encuentras</p>
                    <button type="button" class="button welcomeslidebtn" ng-click="nextSlide()"> SALTAR</button>
                    <div class="hand-icon3">
                        <img src="img/ic_handleft_2.png" />
                    </div>
                </ion-slide>
                <ion-slide class="welslide4 text-center">
                    <p>Notificaciones: historial con los eventos recientes de tus amigos</p>
                    <button type="button" class="button welcomeslidebtn" ng-click="nextSlide()"> SALTAR</button>
                    <div class="hand-icon4">
                        <img src="img/ic_handright_2.png" />
                    </div>
                </ion-slide>
                <ion-slide class="welslide4 text-center">
                    <p>Perfil: toda tu actividad y recorrido en Runaway sera visible aquí</p>
                    <button type="button" class="button welcomeslidebtn" ng-click="goToDashboard()">  ENTENDIDO</button>
                    <div class="hand-icon5">
                        <img src="img/ic_handright_2.png" />
                    </div>
                </ion-slide>
            </ion-slide-box>
        </ion-content>
    </div>
    <div class="tabs-striped tabs-color-light">
        <div class="tabs cus-tab">
            <a class="tab-item" ng-class="{'active': slideIndex == 0} ">
                <img class="deactivetab-img" src="img/ic_tentred.png">
                <img class="activetab-img" src="img/tabicon1.png">
            </a>
            <a class="tab-item" ng-class="{'active': slideIndex === 1} ">
                <img class="deactivetab-img" src="img/ic_mytripsgrey.png">
                <img class="activetab-img" src="img/tabicon2.png">
            </a>
            <a class="tab-item tab-item-btn"  ng-class="{'active': slideIndex === 2} ">
                <!-- <a class="tab-item tab-item-btn"> -->
                <button class="btn-plus-ws">
                    <img class="deactivetab-img" src="img/tabicon3.png">
                    <img class="activetab-img" src="img/tabicon3.png">
                </button>
            </a>
            <a class="tab-item" ng-class="{'active': slideIndex === 3} ">
                <img class="deactivetab-img" src="img/ic_bellgrey.png">
                <img class="activetab-img" src="img/tabicon4.png">
            </a>			
            <a class="tab-item" ng-class="{'active': slideIndex === 4} ">
                <img class="deactivetab-img" src="img/ic_profilegrey.png">
                <img class="activetab-img" src="img/tabicon5.png">
            </a>
        </div>
    </div>
</ion-view>