/* Empty. Add your own CSS if you like */
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i');

body {
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}

.login-bg {
    background: url(../img/img_intro.png);
    background: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100% 100%;
}

.logo {
    margin: 40px 80px 0 80px;
}

.logo img {
    width: 100%;
    height: auto;
}

.cus-list-inline {
    margin: 10px 59px 0 59px;
    width: auto !important;
}

.cus-list-inline a {
    color: #FFFFFF;
    font-weight: 500;
}

i.menu-icon-circle {
    min-width: 6px;
    max-height: 6px;
    min-height: 6px;
    background: #ef325a;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.cus-icon-f {
    float: right;
    left: 5px;
    top: 6px;
}

.cus-icon-s {
    float: right;
    left: 21%;
    top: 6px;
}

.list-sec-item {
    margin-left: 6px;
}

.login-footer, .login_footer {
    background: transparent;
    height: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.login_footer .footer-joinup {
    margin-bottom: 112px;
}

.cus-login-input ::-webkit-input-placeholder {
    color: #ef325a;
}

.cus-login-input ::-ms-input-placeholder {
    color: #ef325a;
}

.cus-login-input ::-moz-input-placeholder {
    color: #ef325a;
}

.bg-tran {
    background: transparent;
}

.footer-socialbtn, .footer-joinup {
    margin: 0 30px;
}

.footer-socialbtn button {
    background: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    color: #FFFFFF;
}

.footer-joinup button, .btn-bg-color {
    background: rgba(239,50,91,1);
    background: -moz-linear-gradient(left, rgba(239,50,91,1) 0%, rgba(239,50,91,1) 50%, rgba(255,135,102,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(239,50,91,1)), color-stop(50%, rgba(239,50,91,1)), color-stop(100%, rgba(255,135,102,1)));
    background: -webkit-linear-gradient(left, rgba(239,50,91,1) 0%, rgba(239,50,91,1) 50%, rgba(255,135,102,1) 100%);
    background: -o-linear-gradient(left, rgba(239,50,91,1) 0%, rgba(239,50,91,1) 50%, rgba(255,135,102,1) 100%);
    background: -ms-linear-gradient(left, rgba(239,50,91,1) 0%, rgba(239,50,91,1) 50%, rgba(255,135,102,1) 100%);
    background: linear-gradient(to right, rgba(239,50,91,1) 0%, rgba(239,50,91,1) 50%, rgba(255,135,102,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef325b', endColorstr='#ff8766', GradientType=1 );
    border-radius: 25px;
    color: #FFFFFF;
}

.footer-socialbtn button.button-block {
    margin: 0;
}

.login-footer p, .login-footer p a {
    color: #ffffff;
    width: 100%;
    padding-bottom: 10px;
}

.footer-text {
    margin: 13px 0;
}

p.footer-text a {
    color: #dedede !important;
}
/* join up*/
.joinup {
    margin: 17px 19px;
}

.close-model {
    background: #1e222a;
    color: #FFFFFF;
    width: 30px;
    height: 30px;
    line-height: 0;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-style: normal;
}

.profilepics {
    margin: 27px 55px;
}

.profilepics img {
    height: 100px;
    width: 100px;
}

.profilepics button {
    background: #383d47;
    color: #ffffff;
    border-radius: 25px;
    width: 100px;
    font-size: 12px;
}

.joincard {
    margin: 20px 5px;
}

.joincard-sec {
    margin: 0 5px 15px 5px;
}

.joinform .item-input {
    padding: 15px 0 15px 16px;
}

.iconmail {
    margin-top: 3px;
}

.iconuser {
    margin-left: 3px;
}

.joinform .placeholder-icon:first-child {
    padding-right: 25px;
}

.optionalinfo {
    margin: 30px 0 5px 20px;
}

.optionalinfo p {
    color: #ffffff;
    margin: 0;
}

.term-condi {
    margin-left: 20px;
    color: #FFFFFF;
}

.lost_password {
    margin-right: 15px;
    color: #1e222a;
}
/* datepicker*/
.md-datepicker-input-container {
    border-bottom-width: 0px;
}

.md-button.md-icon-button {
    display: none;
}

.md-datepicker-input-container {
    width: 95% !important;
}

/*welcome screen */
.slidelayer {
    background: url(../img/slidebg.png) !important;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 1080;
    top: 0;
}

.sec-slide {
    min-height: 100%;
    width: 100%;
    position: absolute;
}

ion-content.slidemain.scroll-content.ionic-scroll {
    z-index: 1080;
    vertical-align: middle;
    display: table-cell;
    margin-top: 20%;
}

.sliderheader {
    background: #e3eaf0 url(../img/img_quote.png);
    background: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

.slider-search {
    margin: 8px 20px 0 20px;
}

.search .item-input {
    background: #FFFFFF;
    border-radius: 25px;
    padding: 4px 0 4px 16px;
}

.search-button {
    padding-left: 8px;
}

.search-button button {
    background: #383d47 !important;
    padding: 0;
    line-height: 0;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-style: normal;
    min-width: 48px !important;
    min-height: 48px !important;
}

input[type="search"].search-input {
    padding-left: 8px;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
}

.search .row {
    padding: 0;
}

.searchlayer {

}

.cus-serachicon {
    margin-top: 5px;
}

.search-content .guide {
    margin-top: 19px;
    font-size: 16px;
    color: #ffffff;
}

.search-content .row {
    padding: 0px;
}

.search-content h3 {
    font-size: 22px;
    color: #ffffff;
    margin-top: 5px;
    letter-spacing: 1px;
}

.search-content-author {
    color: #FFFFFF;
}

.slider-pager {
    top: 0px;
}

.slider-pager .slider-pager-page {
    color: #FFFFFF;
    font-size: 10px;
}

.welsliders {
    height: 100%;
}

.welsliders ion-slide {
    padding: 30px 60px;
}

.welsliders p {
    color: #ffffff;
    font-size: 14px;
    font-weight:300;
}

button.welcomeslidebtn {
    background: rgba(239,50,91,1);
    background: -moz-linear-gradient(left, rgba(239,50,91,1) 0%, rgba(239,50,91,1) 40%, rgba(255,135,102,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(239,50,91,1)), color-stop(50%, rgba(239,50,91,1)), color-stop(100%, rgba(255,135,102,1)));
    background: -webkit-linear-gradient(left, rgba(239,50,91,1) 0%, rgba(239,50,91,1) 40%, rgba(255,135,102,1) 100%);
    background: -o-linear-gradient(left, rgba(239,50,91,1) 0%, rgba(239,50,91,1) 40%, rgba(255,135,102,1) 100%);
    background: -ms-linear-gradient(left, rgba(239,50,91,1) 0%, rgba(239,50,91,1) 40%, rgba(255,135,102,1) 100%);
    background: linear-gradient(to right, rgba(239,50,91,1) 0%, rgba(239,50,91,1) 40%, rgba(255,135,102,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef325b', endColorstr='#ff8766', GradientType=1 );
    border-radius: 25px;
    color: #FFFFFF;
    padding: 0 30px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(239,50,90,1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(239,50,90,1);
    box-shadow: 0px 0px 10px 1px rgba(239,50,90,1);
    font-size:12px;
}

button.btn-plus-ws {
    background: rgba(239,50,91,1);
    background: -moz-linear-gradient(left, rgba(239,50,91,1) 0%, rgba(239,50,91,1) 50%, rgba(255,135,102,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(239,50,91,1)), color-stop(50%, rgba(239,50,91,1)), color-stop(100%, rgba(255,135,102,1)));
    background: -webkit-linear-gradient(left, rgba(239,50,91,1) 0%, rgba(239,50,91,1) 50%, rgba(255,135,102,1) 100%);
    background: -o-linear-gradient(left, rgba(239,50,91,1) 0%, rgba(239,50,91,1) 50%, rgba(255,135,102,1) 100%);
    background: -ms-linear-gradient(left, rgba(239,50,91,1) 0%, rgba(239,50,91,1) 50%, rgba(255,135,102,1) 100%);
    background: linear-gradient(to right, rgba(239,50,91,1) 0%, rgba(239,50,91,1) 50%, rgba(255,135,102,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef325b', endColorstr='#ff8766', GradientType=1 );
    border-radius: 25px;
    border: none;
    width: 40px;
    height: 40px;
    margin-top: -10px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(239,50,90,1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(239,50,90,1);
    box-shadow: 0px 0px 10px 1px rgba(239,50,90,1);
    opacity: 0.5;
}

.cus-tab {
    height: 60px;
}

.hand-icon {
    position: fixed;
    z-index: 10900;
    bottom: 290px;
    left: 10%;
}

.hand-icon2 {
    position: fixed;
    z-index: 10900;
    bottom: 290px;
    left: 30%;
}

.hand-icon3 {
    position: fixed;
    z-index: 10900;
    bottom: 290px;
    left: 49%;
}

.hand-icon4 {
    position: fixed;
    z-index: 10900;
    bottom: 290px;
    right: 30%;
}

.hand-icon5 {
    position: fixed;
    z-index: 10900;
    bottom: 290px;
    right: 10%;
}

.slidemain .scroll {
    height: 100%;
}

.tab-item {
    max-width: 290px;
    padding: 10px 0;
}

.tab-item-btn {
    padding: 5px 0;
}

.tabs-striped .tabs {
    z-index: 1080;
}

.cus-tab {
    background: rgba(255,255,255,0.1) !important;
}

a.tab-item img {
    position: relative;
    z-index: 2;
    opacity: 0.5 !important;
}

a.tab-item.active img {
    opacity: 1 !important;
}

a.tab-item.active {
    position: relative;
    background: rgba(255,255,255,0.5);
    z-index: 100;
    background: #ffffff !important;
    padding: 0;
    line-height: 0;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-style: normal;
    max-width: 60px;
    max-height: 60px;
    margin: 0 3px;
}

a.tab-item.tab-item-btn.active {
    border: 0px !important;
}

a.tab-item.active button.btn-plus-ws {
    width: 60px;
    height: 60px;
    opacity: 1;
    margin-top: 0px;
}

a.tab-item.active img {
    margin-top: 11px;
}

.tabs-striped .tabs {
    background: transparent;
}

.tab-item.activated {
    border-top-width: 0px !important;
}

.activetab-img {
    display: none;
}

.active img.deactivetab-img{
    display: none;
}

.active button.btn-plus-ws img {
    margin-top: 0px !important;
}

.active .activetab-img {
    display: inline-block;
}

/* list screen*/
.showIntro .tab-nav.tabs{
    background: transparent !important;
}
.list-tab-nav > .tab-nav.tabs{
    background: #ffffff; 
}
.tab-title{
    opacity: 0 !important;
}

.list-tab-nav .tabs{
    height: 60px;
}
.tabs-striped .tab-item.tab-item-active{
    margin-top:2px !important;
}
.showIntro .list-tab-nav .tab-item{
    padding:10px;
    margin: 0px 10px;
}
.tab-icon-1{
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    background-image: url('../img/ic_tentred.png');
    background-size:contain;
}
.tab-item-active .tab-icon-1{
    background-image: url('../img/tabicon1.png');
}

.tab-icon-2{
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    background-image: url('../img/ic_mytripsgrey.png');
    background-size:contain;
}

.tab-item-active .tab-icon-2{
    background-image: url('../img/tabicon2.png');
}

.tab-icon-3{
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100% !important;
    background-image: url('../img/tabicon3.png');
}

.tab-btn-bg-color{
    height: 50px;
    background: -moz-linear-gradient(left, rgba(239,50,91,1) 0%, rgba(239,50,91,1) 50%, rgba(255,135,102,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(239,50,91,1)), color-stop(50%, rgba(239,50,91,1)), color-stop(100%, rgba(255,135,102,1)));
    background: -webkit-linear-gradient(left, rgba(239,50,91,1) 0%, rgba(239,50,91,1) 50%, rgba(255,135,102,1) 100%);
    background: -o-linear-gradient(left, rgba(239,50,91,1) 0%, rgba(239,50,91,1) 50%, rgba(255,135,102,1) 100%);
    background: -ms-linear-gradient(left, rgba(239,50,91,1) 0%, rgba(239,50,91,1) 50%, rgba(255,135,102,1) 100%);
    background: linear-gradient(to right, rgba(239,50,91,1) 0%, rgba(239,50,91,1) 50%, rgba(255,135,102,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef325b', endColorstr='#ff8766', GradientType=1 );
    border-radius: 50%;
    color: #FFFFFF;
    margin-top:3px !important;
    max-width: 55px;
}

.tab-icon-4{
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    background-image: url('../img/ic_bellgrey.png');
    background-size:contain;
}

.tab-item-active .tab-icon-4{
    background-image: url('../img/tabicon4.png');
}

.tab-icon-5{
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    background-image: url('../img/ic_profilegrey.png');
    background-size:contain;
}

.tab-item-active .tab-icon-5{
    background-image: url('../img/tabicon5.png');
}
.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated{
    border-width: 0px;
}
.tab-screen .tabs {
    background: #FFFFFF !important;
}

.tab-screen a.tab-item img, .tab-screen button.btn-plus-ws {
    opacity: 1 !important;
}

.mrgtop65 {
    margin-top: 65px;
}

p.mrgtop65 {
    color: #ffffff;
    font-size: 16px;
}

.tab-screen .tab-item {
    position: relative;
}

.red-cirlce-tab {
    min-width: 6px;
    min-height: 6px;
    background: #ef325a;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 15px;
}

.tab-screen a.tab-item.active img {
    margin-top: 0;
}

.tab-screen a.tab-item.active {
    padding: 10px 0;
    background: none !important;
}

/* ionic scroll x*/

.con-scroll-x{
    white-space:nowrap;
}

.scroll-div{
    margin: 0px 20px;
}

.scroll-div-item{
    width:200px;
    height:240px;
    margin-right: 10px;
    background:#ffffff;
    display:inline-block;
    position: relative;        
}
.scroll-div-item img{
    max-height: 200px;
    max-width: 200px;
}

.scroll-view.scroll-y {
    overflow-y: hidden;
}

.scroll-item-caption{
    position: absolute;
    top: 0px;
    padding: 10px;
    background: rgba(0,0,0,0.4);
    width:100%;
    height: 83%;
}

.caption-rect{
    height: 36px;
    width:82px;
    background: #ffffff;
    border-radius: 100px;
    text-align: center;
}

.caption-rect img{
    margin: 6px 0 0 0;
    padding: 3px 2px 0 8px;
}

.caption-rect span{
    padding: 0 9px 0 0px;
    margin: 9px 0 0 0;
    float: right;
    font-size:12px;    
}

.scroll-caption-text{
    margin-top: 10px;
    color: #ffffff;
}

.scroll-caption-text p{
    font-size:14px;    
    margin-bottom: 0;
    font-weight: 300;
}

.scroll-caption-text h3{
    font-size: 22px;
    color: #ffffff;
    margin-top: 0;   
}

.scroll-caption-date{
    margin-top: 20px;
}

.scroll-caption-date span{
    color: #ffffff;
    font-weight: 300;
}

.scroll-caption-date img{
    vertical-align: middle;
    padding: 0 3px;
}

.scroll-cap-user-pics{
    text-align: center;
    top: 26px;
    position: relative;
}

.scroll-cap-user-pics img{
    background: #ffffff;
    padding: 2px;
    border-radius: 2px;
}
.hr30{
    margin: 30px 20px;
    background: url(../img/dotted-line.png);
    height: 1px;
    opacity: 0.75;
}
/* list in friends list */
.friends-list{
    padding: 0 5px;
    background: #e3eaf0;
}

.friends-list .friends-list-title{
    margin: 0 20px;
    font-size:16px;
    color:#1e222a;   
}
.friends-list-item.card{
    margin: 0;
}
.friends-list-item{
     margin-top: 20px !important;
     position: relative;
}

.friends-list-img-large, .friends-list-img-large img{
    height: 233px;
}

.friends-list-img-small, .friends-list-img-small img{
    padding: 0px;
    height: 117px;
    margin-left: 1.5px;
    width: 100%;
}
.small-img-last{
    padding-top: 2px;
    position: relative;
}
.friends-img-more{
    background: rgba(0,0,0,0.3);
    position: absolute;
    width: 100%; 
    height: 117px;
    display: table;
    text-align: center;
}
.friends-img-more label{
    display: table-cell;
    vertical-align: middle;
    color: #FFFFFF;
    font-size: 18px;
        
    
}
@media screen and (orientation:landscape) {
    ion-content.slidemain.scroll-content.ionic-scroll {
        margin-top: 0px;
    }
}

@media (min-width: 340px) and (max-width: 375px) {
    ion-content.slidemain.scroll-content.ionic-scroll {
        margin-top: 6%;
    }
    .welsliders ion-slide {
        padding: 30px 60px;
    }
}

@media (min-width: 300px) and (max-width: 340px) {
    ion-content.slidemain.scroll-content.ionic-scroll {
        margin-top: 0;
    }
    .welsliders ion-slide {
        padding: 30px 20px;
    }
}

.showIntro .tab-item {
    opacity: 0;
}